@use '../abstracts/variables' as a;


#x-ray {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: a.$light;
}

#xray {
  position: relative;
  aspect-ratio: 16/9;
  background-image: url(../images/airpod-mini-xray.webp);
  background-size: cover;
  border-radius: a.$round-border;
  margin-top: 25px;
}

#divisor {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/airpod-mini-texture.webp);
  background-size: cover;
  width: 63%;
  height: 100%;
  border-top-left-radius: a.$round-border;
  border-bottom-left-radius: a.$round-border;
  border-right: 3px solid rgba(255, 255, 255, 0.291);
}

input[type=range] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
position: relative;
top: -18px;
left: -2%;
background-color: rgba(255, 255, 255, 0.1);
width: 102%;
}

input[type=range]:focus {
outline: none;
}

input[type=range]::-moz-range-track {
height: 15px;
width: 98%;
background-color: rgba(255, 255, 255, 0.1);
position: relative;
outline: none;
}

input[type=range]::active {
border: none;
outline: none;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
margin-top: -5px;
margin-left: 7px;
width: 30px;
height: 30px;
background: #fff;
border-radius: a.$round-border;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
transition: a.$fast-transition;
cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  margin-left: 7px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: a.$round-border;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  transition: a.$fast-transition;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-thumb {
background: rgba(255, 255, 255, 1);
transform: scale(1.3);
}

input[type=range]:hover::-webkit-slider-thumb {
  transform: scale(1.3);
}

input[type=range]:hover::-moz-range-thumb {
  transform: scale(1.3);
}

input[type=range]:focus::-moz-range-thumb {
background: rgba(255, 255, 255, 1);
transform: scale(1.3);
}





#features {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: a.$light;
}

.feature-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 25px;

  h4 {
    font-size: a.$h3-font-size;
    font-weight: 600;
    max-width: 400px;
  }

  a h5 {
    color: a.$blue;
    font-size: a.$h7-font-size;
    font-weight: 400;
    cursor: pointer;
    transition: a.$fast-transition;

    &:hover {
      color: a.$dark-blue;
    }
  }
}

.feature-box {
  background-color: a.$white;
  border-radius: a.$round-border;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  padding: 50px;
  margin-top: 25px;

  img {
    height: 50px;
    object-fit: contain;
  }

  h4 {
    font-size: a.$h6-font-size;
    font-weight: 600;
  }

  p {
    font-size: a.$h7-font-size;
    color: a.$grey;
  }
}