@use '../abstracts/variables' as a;

#sticky-nav-con {
    position: sticky;
    background-color: a.$white;
    top: 0;
    z-index: 1000;
    animation: headerSlide 1s forwards;
    border-bottom: 1px solid #80808089;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
}


.logo-header {

    a {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    img {
        height: 25px;
        width: 25px;
    }

    h4 {
        color: a.$black;
        font-size: a.$h7-font-size;
    }
}

.links-header ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: fit-content;
}

.links-header ul li a {
    padding: 20px;
    text-transform: capitalize;
    font-size: a.$h6-font-size;
    display: block;
    color: a.$grey;
    cursor: pointer;
    background-color: white;
    transition: all 1ms;

    &:hover {
    color: a.$blue;
    }
}

.navbar-header button {
    height: 25px;
    width: 30px;
    background: url(../images/burger-button.svg) no-repeat center;
    border: 0;
    position: absolute;
    top: 20px;
    right: 10%;
    cursor: pointer;
    display: none;
 }


//  Responsive
@media (max-width: 1100px) {
    
    .navbar-header button {
        display: flex;
        margin-top: 5px;
     }

     .navbar-header {
        align-items: flex-start;
        flex-direction: column;
     }

     .logo-header {
        margin-top: 15px;
        margin-bottom: 30px;

        a {
            margin-top: 10px;
        }

     }

     .links-header {
        width: 100%;
        z-index: 100;
        height: 0;
        overflow: hidden;
        transition: height .5s ease-in-out;
     }

     .links-header ul {
        flex-direction: column;
        width: 100%;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity .5s ease-in-out, transform .5s ease-in-out;
     }

     .links-header ul li:first-child {
        margin-top: 25px;
     }

     .links-header ul li {
        text-align: left;
        cursor: pointer;

        a {
            font-size: a.$h4-font-size;
            padding-left: 0px;
        }
    }
    
    .links-header.active {
        height: 525px;
        display: flex;
    }

    .links-header.active ul {
        opacity: 1;
        transform: translateY(0);
    }

    #burger-button {
        animation: x-to-burger 0.5s forwards;
    }

    #burger-button.active {
        height: 20px;
        background: url(../images/close-button.svg) no-repeat center;
        animation: burger-to-x 0.5s forwards;
    }

}

// Animation
@keyframes headerSlide {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

/* Rotate Burger Icon to X */
@keyframes burger-to-x {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* Rotate X Icon back to Burger */
@keyframes x-to-burger {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}