@use '../abstracts/variables' as a;


/* ---Mobile Styles--- */
@media screen and (min-width: 468px) {
    model-viewer {
        max-width: 400px;
    }

    .HotspotAnnotation {
        z-index: 1000;
    }

}

/* ---Tablet Styles--- */
@media screen and (min-width: 768px) {

    model-viewer {
        height: 800px;
        max-width: 800px;
    }

    .HotspotAnnotation {
        width: 250px;
        left: 0;
        top: 25px;
        z-index: 1000;
    }
}


// ---Desktop Styles---
@media screen and (min-width: 1200px) {
    model-viewer {
        height: 1200px;
        max-width: 1000px;
    }

    .HotspotAnnotation {
        width: 350px;
        left: calc(75% + 1em);
        top: 50%;
        z-index: 1000;
    }
}