@use '../abstracts/variables' as a;

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

.hidden {
    display: none;
}

a {
    transition: all .5s ease-in-out;
    text-decoration: none;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: a.$light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: a.$first-font;
}

p {
    font-family: a.$second-font;
}

 main {
    margin: 0;
}

footer {
    width: 100%;
}