@use '../abstracts/variables' as a;

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

.hidden {
    display: none;
}

a {
    transition: all .5s ease-in-out;
    text-decoration: none;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: a.$white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: a.$first-font;
}

p {
    font-family: a.$second-font;
}

 main {
    margin: 0;
}

footer {
    width: 100%;
}



// This is for the error page

#buy-error {
    background-color: a.$light;
    padding-top: 100px;
    padding-bottom: 100px;

    img {
        object-fit: contain;
        height: 400px;
        border-radius: a.$round-border;
    }
}

.buy-error-text {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 50px;
    gap: 50px;

    h4 {
        font-size: a.$h2-font-size;
        color: a.$black;
    }

    p {
        font-size: a.$h5-font-size;
        color: a.$grey;
        font-weight: 500;

        span {
            font-weight: 700;
        }
    }

    a h5 {
        font-size: a.$h4-font-size;
        color: a.$black;
        cursor: pointer;

        &:hover {
            color: a.$blue;
            text-decoration: underline;
        }
    }
}